 <option value="1 on 1 talking">1 on 1 talking</option>
 
 <option value="1 on 1 handcrafts">1 on 1 handcrafts </option>
 <option value="drawing">drawing </option>
<option value="walking">walking </option>
<option value="dancing">dancing </option>
<option value="morning exercise">morning exercise </option>
<option value="music related">music related</option>
<option value="handcrafts">handcrafts</option>
<option value="ball games">ball games</option>
<option value="bingo">bingo</option>
<option value="hand massage">hand massage</option>
<option value="reading">reading</option>
<option value="star gazing">star gazing</option>