<form id ="admin-loghourform"autocomplete="off" method="POST" action="/protected-route">

     

    <p id="group-residentword">Admin activities</p>:<br>
    
    
      <input id="admin-myInput" type="text" name="residentname" value="Admin" required="required">
    
    <br>
    <label for="activity_genre">Activity_Genre:</label>
    <select id="group-cars" name="activity_genre" required="required">
      <%- include ('activitygenre') -%>
    </select>
    <br>
    Activity Description:<br>
    <input type="text" name="activity_description" required="required">
    <br>
    <label for="outcome_genre">Outcome_Genre:</label>
    <select id="group-cars" name="outcome_genre">
      <%- include ('outcomegenre') -%>
    
    </select>
    <br>
    Outcome Description<br>
    <input type="text" name="outcome_description"><br>
    <br>
    Duration<br>
    <input type="number" name="Duration"><br>
    <br>
    Roughly at what time did you start?(in 24 hour format)<br>
        <input type="number" name="starttime"><br>
    Date<br>
    <input type="date" name="date"><br>
    <br>
    
    <input class="nodisplay" type="text" value=<%= user._id %> name="Personresponsible"><br>
    <br>
 
    <input  class="nodisplay" id="group-resident_id"type="text"  name="residentid"><br>
    <br>
    

</form>