<form id ="group-loghourform"autocomplete="off" method="POST" action="/protected-route">

     

    <p id="group-residentword">Resident Group activities</p>:<br>
    
    
      <input  type="text" id="residentnamefieldgroup"name="residentname" value="Group_activities" >
    
      <div class="autocomplete" style="width:300px;">
    <input id="groupauto"  type="text" placeholder="search your residents and select">
    </div>
    <div id="clicktoaddgroup"> click to add resident</div>
    <div id="residentgroupdom">
        
    </div>
    <br>
    <label for="activity_genre">Activity_Genre:</label>
    <select id="group-cars" name="activity_genre">
      <%- include ('activitygenre') -%>
    </select>
    <br>
    Activity Description:<br>
    <input type="text" name="activity_description" required>
    <br>
    <label for="outcome_genre">Outcome_Genre:</label>
    <select id="group-cars" name="outcome_genre">
      <%- include ('outcomegenre') -%>
    
    </select>
    <br>
    Outcome Description<br>
    <input type="text" name="outcome_description"  required><br>
    <br>
    Roughly at what time did you start?(in 24 hour format)<br>
        <input type="number" name="starttime" required><br>
    Duration<br>
    <input type="number" name="Duration"  required><br>
    <br>
    Date<br>
    <input type="date" name="date"  required><br>
    <br>
 
    <input class="nodisplay"type="text" value=<%= user._id %> name="Personresponsible" required><br>
    <br>
    
   
    <input class="nodisplay" id="group-resident_id"type="text"  name="residentid"  required><br>
    <br>
    

</form>