



    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <button class="btn btn-danger" onclick="logout()">Log out</button>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/protected-route2"> generate a report </a>___
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/protected-route"> Log hours  </a>___
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/homepage"> homepage  </a>___
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addresident"> Add resident  </a>___

        </li>
      </ul>