<button onclick="logout()">Log out</button>
<a href="/protected-route2"> generate a report </a>___
    <a href="/protected-route"> Log hours  </a>___
    <a href="/homepage"> homepage  </a>___
    <a href="/addresident"> Add resident  </a>
