<option value="active engagement">active engagement</option>
 
 <option value="pasive engagement">passive engagement</option>
<option value="nil">neutral</option>
<option value="disengagement">disengagement</option>
<option value="declined">declined</option>
<option value="others">others</option>