<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://use.fontawesome.com/8fa1c275e2.js"></script>
</head>
<style>
.nodisplay{display:none}
.noshow{opacity: 0;}
.spaced{margin-bottom: 100px;}
.customLabel {
  width: 500px;
  
  font-size: 0.9em;
  font-weight: bold;
  margin: 0 auto   ;
  
 
  overflow: hidden;
}
.hover :hover{
    background-color: red !important;
    cursor: pointer;
}
.customLabel>div {
  background: #f0ad4e;
  margin-bottom: 5px;
  padding: 1px 5px;
  border-radius: 3px;
  float: left;
  clear: both;
  display: flex;
  justify-content: center;
}



</style>
<body>
    
    <%- include ('partials/logout') -%>

    This is your loginhomepage.

   <h1 class="nodisplay"id="recentlog"><%= data1 %> </h1> 
   <div class="customLabel" id="domdata"></div>
    
    
    
   

    
    

    
  

</body>
<script>


    function myFunction(){
        document.location.href = `/${user.username}/loghours`
    }

    function logout(){
        document.location.href = "/logout"
    }

    var recentlogs= document.getElementById("recentlog");
    var recentloginnertext= recentlogs.innerText
    var recentlogjson= JSON.parse(recentloginnertext)
    console.log(recentlogjson)
    for(i=0;i<recentlogjson.length;i++){
        var a = document.createElement("div");
        a.classList.add("fa");
        a.classList.add("fa-trash");
        a.classList.add("spaced")
        a.classList.add("hover")

  

        a.addEventListener("click",(e)=>{
            //delete the record and go on from there.....for now.....
            
            console.log("delete")
            console.log(e.target.innerText)
           var string= e.target.innerText.split('\n');
           var id= string[0]
           console.log(id)
           ///make a post request...
           var form = document.createElement('form');
           //make a form document. 
           form.setAttribute("method", "POST");
            form.setAttribute("action", "/deleteuserlog");
            form.setAttribute("id", "deletelog");
            var FN = document.createElement("input");
            FN.setAttribute("type", "text");
            FN.setAttribute("name", "log_id");
            FN.value=id
            form.appendChild(FN); 
            document.body.append(form)
            var ii= document.getElementById("deletelog")
            ii.submit();
            

           
        })
        ///////////////////////////// 
        a.innerHTML= 
        `<br>
        <div>
        <div class="noshow">${recentlogjson[i]._id}</div>  <br>
       ${recentlogjson[i].Duration} <br>
       ${recentlogjson[i].activitydes} <br>
       ${recentlogjson[i].activitygen} <br>
        ${recentlogjson[i].fulldate} <br>
        ${recentlogjson[i].outcomegen} <br>
        ${recentlogjson[i].resident} <br>
        </div>
        <br>
        
        `
        var domdata1 = document.getElementById("domdata")
       
        domdata1.append(a)
    }
  
</script>
</html>