<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<script src="https://use.fontawesome.com/8fa1c275e2.js"></script>
<body>

    
  



      <section class="vh-100">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 text-black">
      
              <div class="px-5 ms-xl-4">
                <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                <span class="h1 fw-bold mb-0">GSP Documentation Portal</span>
              </div>
      
              <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
      
                <form style="width: 23rem;" id="registerform"method="post" action="/register">
      
                  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register</h3>
      
                  <div class="form-outline mb-4">
                    
                    
                    <input required name="uname"  id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Create Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    

                  <label for="cars">Which facility are you from?</label>
                  <select id="cars" name="facilityrole">
                  <option value="scalabrinibexley">Scalabrini</option>
                  <option value="others">others</option>
                
                  </select>
                  </div>
      
                  <div class="form-outline mb-4">
                    <input  required type="password" id="firstpassword" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Create Password</label>
                  </div>

                  <div class="form-outline mb-4">
                    
                    <input  required name="pw" type="password" id="checkpassword"   class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Type Again your Password</label>
                  </div>

                  <button style="background-color: rgb(185,205,224); color: azure;" id="registerbutton" onclick="submitregister()">register now</button>
      
                  
      
                 
                  <p>Already have an account? <a href="/login" class="link-info">Login here</a></p>
      
                </form>
               
      
              </div>
              
      
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
              <img src="https://art.pixilart.com/35d5a615bc35243.png" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
          </div>
        </div>
      </section>
</body>
<script>

const firstpassword = document.getElementById('firstpassword');
const secondpassword = document.getElementById('checkpassword');
console.log(secondpassword.innerText)
document.getElementById("registerbutton").disabled=true



secondpassword.addEventListener('keyup', (e)=>{
    
   console.log(secondpassword.value.localeCompare(firstpassword.value)) 
   if(secondpassword.value.localeCompare(firstpassword.value)==0){
       //password match set color to green 
       
       var status= document.getElementById("registerbutton")
       status.style.backgroundColor="rgb(34,139,230)"
       document.getElementById("registerbutton").disabled=false
       

      
   }
   else{
       //set color to red 
       var status= document.getElementById("registerbutton")
       status.style.backgroundColor="rgb(185,205,224)"
      
       
   }


});


function submitregister(){
    var registerbutt= document.getElementById("registerbutton");
    var form = document.getElementById("registerform")
    form.submit();
    

}
</script>
</html>